body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
    padding: 10px 80px;
}

.logo-container img{
    height: 80px;
    width: auto;
}


.nav-items ul {
    display: flex;
    gap:40px
}

.nav-items ul li {
    list-style: none;
    font-size: 24px;
    font-weight: 500;
}

.cart{
     font-size: 24px;
    font-weight: 500;
}

